:root {
	--primary-color: #d41e2a;
	--secondary-color: #F9D33E;
	--third-color: #292D2D;
	--accent-color: #88ffb4;
	--background-color: #D41E2A;
	--text-color: #333;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 18px;
	font-weight: 500;
	color: white;
}

html, body {
	height: 100%;
	background-color: var(--primary-color);
	padding: 0;
	margin: 0;
}
.container{
	height:auto;
	margin: 0;
	padding: 0;
	
}

.menu {
	width: 80%;
	height: 60px;
	top: 0;
	left: 0;
	padding: 0 3rem;
	background-color: var(--third-color);
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	float: left;
}
.main {
	min-height: 100%;
	height: auto;
	width: 100%;
	float: left;
	background-color: var(--primary-color);
}
.main-subpage {
	width: 80%;
	margin: 0 auto;
	height: 100%;
	background-color: var(--primary-color);
}

.footer {
	float: left;
	background-color: var(--third-color);
	width: 100%;
	height: 60px;
	color: black;
	text-align: center;
	
	clear:both;
}
.push {
	clear:both;
	height:20px;
}

.menu a {
	margin: 0 1rem;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
}

 .dropdown {
	position: relative;
}

.dropdown ul {
	width: 200px;
	text-align: left;
	position: absolute;
	background: var(--third-color);
	padding: 0;
	list-style-type: none;

	margin-top: 8px;
	border-radius: 7px;
	display: none;
}

.dropdown a:hover {
	color: lightblue;
}

.dropdown ul li a {
	width: 100%;
	height: 100%;
	display: inline-block;
}


.dropdown a:focus + ul,
.dropdown a:hover + ul,
.dropdown ul:hover {
	display: block;
}

.car-rental-logo {
	float: left;
	width: 20%;
	height: 60px;
	padding-left: 5px;
	padding-top: 15px;
	text-align: center;
	background-color: var(--third-color);
}
.logo-text {
	color: var(--secondary-color);
	margin: 10px;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	text-decoration: none;
}

.advertisement {
	width: 50%;
	height: 600px;
	background-color: var(--primary-color);
	float: left;
	padding-top: 100px;
    padding-left: 30px;
	font-size: 40px;
}

.advertisement-subpage-left {
	width: 30%;
	height: 120px;
	background-color: var(--primary-color);
	float: left;
	padding-top: 20px;
	padding-left: 45px;
	font-size: 40px;
}
.advertisement-subpage-right {
	width: 70%;
	height: 120px;
	background-color: var(--primary-color);
	float: left;
	padding-top: 20px;
	padding-left: 45px;
	font-size: 40px;
}

.search {
	width: 50%;
	height: 600px;
	background-color: var(--primary-color);
	float: left;
}

.search-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
	background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	color: var(--primary-color);
}

.search-container label {
    display: block;
    margin-top: 20px;
	font-size: 15px;
	color: lightblue;
}

.location-select, form input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
	border: none;
	border-radius: 4px;
    margin-top: 5px;
	background-color: #4A4E4E;
    color: lightblue;
}

.button {
    margin-top: 20px;
	margin-left: 250px;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-decoration: none;
}

.button-warning {
	margin: 5px;
    padding: 10px 20px;
    background-color: khaki;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-danger {
	margin: 5px;
    padding: 10px 20px;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



th {
	font-weight: bold; /* Pogrubienie tekstu w nagłówkach tabeli */
}

tr{
	height: 60px;
}

.tables{
	max-width: 100%;
	font-family: sans-serif;
	background: var(--primary-color);
	padding:40px 20px;
	color:#fff;
}

.tables table{
	width: 80%;
	border-collapse: collapse;
	margin: 0 auto;}

.tables caption{
	font-size: 1.2em;
	padding-bottom: 20px;
}

.tables tr{
	background: #000;
	background: rgba(255,255,255,.3);
	border-bottom:solid 1px #fff;
	text-align: left;
}

.tables tbody tr{
	background: rgba(255,255,255,.1);
}

.tables tbody tr:hover{
	background: rgba(255,0,0,.1);
}

.table td{
	padding: 8px 4px;
	text-align: left;
}
h1 {
	font-size: 30px;
}

.preselect-car-form {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background-color: var(--primary-color);
	border-radius: 8px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	color: lightblue;
	line-height: 2;
}

/* background: linear-gradient(45deg, #49a09d, #5f2c82); */