@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
	--primary-color: #FFCF26;
	--secondary-color: #EAEAEA;
	--third-color: #292D2D;
	--accent-color: #88ffb4;
	--background-color: #D41E2A;
	--text-color: #000000;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgb(0, 0, 0);
}

h1 {
	font-family: 'Inter', sans-serif;
	font-size: 40px;
	font-weight: 500;
	margin: 0;
}

h2 {
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 0;
}

h5 {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 200;
	margin: 0;
}

p {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 16px;
	height: 16px;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
  }
  
  input[type="checkbox"]::before {
	content: '\2713'; /* Unicode "check" */
	display: block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	color: #FF0202;
	background-color: #FFFFFF;
	border-radius: 3px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
  }
  
  input[type="checkbox"]:checked::before {
	opacity: 1;
  }

  form input[type="datetime-local"] {
	width: 45%;
	height: 30px;
    padding: 8px;
	border: none;
	border-radius: 3px;
    margin-top: 5px;
	background-color: #D9D9D9;
	font-size: 16px;
    color: black;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
}

#burger-menu {
	display: none;
	flex-direction: column;
	cursor: pointer;
	background-color: #ffffff;
	border: none;
	position: absolute;
	right: 0;
}

#burger-menu span {
	width: 25px;
	height: 3px;
	background-color: var(--primary-color);
	margin: 2px 0;
}

.burger {
	display: none;
	flex-direction: column;
	margin-right: 20px;
	cursor: pointer;
}

.button {
	margin: 0; /* Wyśrodkowanie w poziomie */
    display: block;
	width: 150px;
	height: 25px;
    margin-top: 15px;
    padding: 3px 20px;
    background-color: var(--primary-color);
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-decoration: none;
	font-size: 14px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button-book-now {
    display: block;
	width: 120px;
	height: 25px;
    padding: 5px 20px;
    background-color: var(--primary-color);
	font-family: 'Inter', sans-serif;
	font-size: 14px;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-decoration: none;
	font-size: 14px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button-common {
	margin: 5px;
	padding: 10px 20px;
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.button-danger {
	margin: 5px;
    padding: 10px 20px;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-search {
	margin: 0 auto; /* Wyśrodkowanie w poziomie */
    display: block;
	width: 300px;
	height: 25px;
    margin-top: 15px;
    padding: 5px 20px;
    background-color: var(--primary-color);
	font-family: 'Inter', sans-serif;
	font-size: 14px;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-decoration: none;
	font-size: 14px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button-warning {
	margin: 5px;
    padding: 10px 20px;
    background-color: khaki;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.car-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	width: 80%;
	margin: 20px auto;
}

.car-card {
	display: flex;
	flex-direction: column;
	padding: 20px;
	padding-bottom: 40px;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	border-bottom: 6px solid var(--primary-color);
}

.car-card img {
	height: 155px;
	width: 235px;
	margin: 20px auto;
	margin-bottom: 30px;
}

.car-card-price-and-book-now-button {
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.car-card-short-description {
	margin: 30px auto;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.car-card-short-description img {
	width: 1px;
	height: 20px;
	margin: 10px;
}

.car-description {
	display: grid;
	grid-template-columns: 60% 40%;
	margin-top: 10px;
}

.container{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height:auto;
	margin: 0;
	padding: 0;
}

.dropdown {
	position: relative;
}

.dropdown ul {
	width: 200px;
	text-align: left;
	position: absolute;
	background: #ffffff;
	padding: 0;
	list-style-type: none;

	margin-top: 8px;
	border-radius: 3px;
	display: none;
}

.dropdown a:hover {
	color: #047DFF;
}

.dropdown ul li a {
	width: 100%;
	height: 100%;
	display: inline-block;
}


.dropdown a:focus + ul,
.dropdown a:hover + ul,
.dropdown ul:hover {
	display: block;
}

.filter-cars {
	width: 80%;
	margin: 50px auto;
	margin-bottom: 0px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
}

.filters {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.filters-dropdown {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	border: none;
	background-color: #FFFFFF;
}

.filters-dropdown img {
	display: none;
}

.filters label {
	display: flex;
	align-items: center;
	margin-right: 20px;
    margin-bottom: 10px;
}
  
.filters input {
	margin-right: 5px;
}

.footer {
	background-color: var(--secondary-color);
	width: 100%;
	height: 350px;
	padding-top: 50px;
	color: black;
	text-align: center;
}

.footer p {
	text-align: left;
	font-size: 14px;
	font-weight: 500;
	margin: 5px;
}

.footer-columns {
	width: 100%;
	display: flex;
	margin-bottom: 90px;
}

.footer-column-side {
	width: 20%;
	padding-top: 10px;
	margin: 0px 0px 0px 50px;
}

.footer-column {
	width: 15%;
	margin: 5px;
	display: flex;
	flex-direction: column;
	text-align: left;
	align-items: start;
	font-size: 14px;
}

.footer-column a {
	margin: 5px;
	font-size: 14px;
}

.form {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background-color: var(--primary-color);
	border-radius: 8px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	color: lightblue;
	text-align: left;
}
.form label {
	display: block;
	margin-top: 20px;
	font-size: 15px;
	color: lightblue;
}

.form input {
	width: 100%;
	height: 40px;
	padding: 5px;
	border: none;
	border-radius: 4px;
	margin-top: 10px;
	background-color: #4A4E4E;
	color: lightblue;
}

.form select {
	width: 100%;
	padding: 8px;
	border: none;
	border-radius: 4px;
	margin-top: 5px;
	background-color: #4A4E4E;
	color: lightblue;
}

.form input:focus {
	outline: 1px solid var(--secondary-color);
}
.form select:focus {
	outline: 1px solid var(--secondary-color);
}

.form-search-car-by-id {
	display: flex;
	align-items: center;
}

.form-search-car-by-id input {
	width: 80%;
}

.header {
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.location-select {
    width: 100%;
	height: 30px;
    padding: 8px;
	border: none;
	border-radius: 3px;
    margin-top: 5px;
	background-color: #D9D9D9;
	font-size: 16px;
    color: black;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-form {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background-color: var(--primary-color);
	border-radius: 8px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	color: lightblue;
	text-align: left;
}
.login-form label {
	display: block;
	margin-top: 20px;
	font-size: 15px;
	color: lightblue;
}

.login-form input {
	width: 100%;
	padding: 8px;
	border: none;
	border-radius: 4px;
	margin-top: 5px;
	background-color: #4A4E4E;
	color: lightblue;
}

.logo {
	height: 70px;
	width: 20%;
	background-color: #FFFFFF;
	text-align: center;
	padding: 10px;
	border-bottom: 6px solid var(--primary-color);
}

.nav {
	height: 70px;
	width: 80%;
	top: 0;
	left: 0;
	padding: 0 3rem;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	border-bottom: 6px solid var(--primary-color);
}

.nav a {
	margin: 0 1rem;
	text-decoration: none;
	padding: 0.5rem 0.5rem;
}

.main-subpage {
	width: 80%;
	margin: 0 auto;
	background-color: var(--primary-color);
	justify-content: center; /* Wyśrodkowanie w poziomie */
	align-items: center; /* Wyśrodkowanie w pionie */
	height: 100%;
	text-align: center;
	flex-grow: 1;
}

.make-the-most-of-your-car-hire {
	width: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

.make-the-most-of-your-car-hire-items {
	width: 90%;
	display: flex;
    margin: 0 auto; 
}

.make-the-most-of-your-car-hire-item {
	width: 400px;
	height: 450px;
	margin: 20px;
	background-color: var(--secondary-color);
	text-align: left;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.make-the-most-of-your-car-hire-item a{
	text-decoration: none;
}

.make-the-most-of-your-car-hire-item img {
    width: 100%;
}

.make-the-most-of-your-car-hire-item-description {
	width: 100%;
	height: 150px;
	margin: 0px;
	padding: 10px 20px 10px 20px;
}

.motto {
	width: 80%;
	margin: 50px auto;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 40px;
	color:#FFFFFF;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.preselect-car-form {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background-color: var(--primary-color);
	border-radius: 8px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	color: lightblue;
	line-height: 2;
	text-align: left;
}

.push {
	clear:both;
	height:20px;
}

.red-check-mark {
	color: #FF0202;
}

.rental-details-bar {
	display: flex;
	height: 70px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	background-color: #5C5F65;
}

.rental-details-bar h5 {
	color: #FFFFFF;
	font-weight: 400;
	margin-bottom: 5px;
	margin-top: 5px;
}

.rental-details-bar p {
	color: #FFFFFF;
}

.rental-details-bar-item {
	flex-direction: column;
}

.rental-details-bar-line {
	margin-left: 20px;
	margin-right: 20px;
}

.search {
	width: 100%;
	height: 780px;
	background-image: url('../images/search-view.png');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	float: left;
}

.search-form {
    width: 80%;
    margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
    padding: 20px;
	background-color: rgba(242, 242, 242, 0.5);
    border-radius: 3px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	color: var(--primary-color);
}

.search-form-row {
	display: flex;
	width: 100%;
}

.search-form-column {
	padding-left: 60px;
	flex: 1;
}

.search-form label {
    display: block;
    margin-top: 20px;
	font-size: 14px;
	font-family: 'Inter', sans-serif;
	color: black;
}

.search-form input:focus {
	outline: 1px solid var(--primary-color);
}
.search-form select:focus {
	outline: 1px solid var(--primary-color);
}

.select {
	width: 100%;
	padding: 8px;
	border: none;
	border-radius: 4px;
	margin: 5px;
	background-color: #4A4E4E;
	color: lightblue;
}

.select:focus {
	outline: 1px solid var(--secondary-color);
}

.shortcut-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}

.shortcut-nav-item {
	flex: 1;
	display: flex;
	justify-content: center;
	max-width: 300px;
}

.shortcut-nav-item a {
	text-decoration: none;
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
}

.special-offer {
	width: 100%;
	height: 250px;
	display: flex;
	background-color: var(--secondary-color);
}

.special-offer-item {
	width: 25%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	font-size: 14px;
}

.special-offer-item a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 5px;
}

.special-offer-line {
	display: flex;
	align-items: center;
}

.social-icons {
	margin-top: 15px;
	padding-left: 5px;
	display: flex;
	gap: 5px;
}

.success-message {
	width: 60%;
	background-color: rgba(144, 238, 144, 0.62);
	color: #155724;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
    display: block;
	margin: 20px auto 10px;
	text-align: center;
    clear: both; /* Dodaj clear: both, aby opłynąć inne elementy */
}

.success-message p {
	text-align: center;
	font-weight: bold;
}

th {
	font-weight: bold;
}

tr{
	height: 60px;
}

.tables{
	max-width: 100%;
	font-family: sans-serif;
	background: var(--primary-color);
	padding:40px 20px;
	color:#fff;
}

.tables table{
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto;}

.tables caption{
	font-size: 1.2em;
	padding-bottom: 20px;
}

.tables tr{
	background: #000;
	background: rgba(255,255,255,.3);
	border-bottom:solid 1px #fff;
	text-align: left;
}

.tables tbody tr{
	background: rgba(255,255,255,.1);
}

.tables tbody tr:hover{
	background: rgba(255,0,0,.1);
}

.tables td{
	padding: 8px 8px;
	text-align: left;
}

/* mobile phone*/

@media only screen and (max-width: 767px) {
	
	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 18px;
	}

	h5 {
		font-size: 12px;
	}

	p {
		font-size: 12px;
	}

	#burger-menu {
		display: flex;
	}

	.burger {
		display: flex;
	}

	.button {
		font-size: 12px;
	}

	.button-search {
		width: 150px;
		font-size: 12px;
	}

	.car-cards {
		grid-template-columns: 1fr;
	}

	.dropdown ul {
		position: static;
		width: 100%;
		box-shadow: none;
		border-radius: 0;
		text-align: center;
		margin-top: 0;
		display: none;
	}

	.dropdown ul {
		position: static;
		box-shadow: none;
	}

	.filters {
		display: none;
		flex-direction: column;
	}

	.filter-cars-h2 {
		display: none;
	}

	.filters-dropdown {
		display: flex;
	}

	.filters-dropdown img {
		display: flex;
	}

	.filters label {
		margin: 2px;
	}

	.footer {
		width: 100%;
		height: 600px;
		padding-top: 0px;
	}
	
	.footer p {
		text-align: left;
		font-size: 12px;
	}
	
	.footer-columns {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}
	
	.footer-column-side {
		width: 100%;
		padding-top: 30px;
		padding-left: 10px;
		margin: 0;
	}

	.footer-column-side img {
		width: 100px;
	}
	
	.footer-column {
		width: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		font-size: 14px;
	}
	
	.footer-column a {
		margin: 5px;
		font-size: 12px;
		padding-left: 10px;
	}

	form input[type="datetime-local"] {
		width: 100%;
		height: 20px;
		margin-top: 5px;
		font-size: 14px;
	}

	.location-select {
		height: 20px;
		font-size: 14px;
	}

	.logo {
		width: 100%;
		text-align: left;
		padding: 20px;
	}

	.logo img {
		width: 100px;
	}

	.make-the-most-of-your-car-hire {
		margin-top: 30px;
		margin-bottom: 50px;
	}

    .make-the-most-of-your-car-hire-items {
        flex-direction: column;
        align-items: center;
    }

    .make-the-most-of-your-car-hire-item {
      	width: 90%;
		height: 350px;
		max-width: 300px;
    }

    .make-the-most-of-your-car-hire-item img {
        width: 100%;
    }

	.motto {
		font-size: 20px;
		margin: 30px auto;
	}

    .nav {
		margin-top: 70px;
		height: 50vh;
		width: 100%;
		position: absolute;
		display: none;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-left: auto;
		right: 0;
	}

	.nav a {
		margin: 0;
		padding: 0.5rem 0.5rem;
	}

	.nav .dropdown {
		position: static;
		display:flex;
		flex-direction: column;
		width: 100%;
		text-align: center;
	}

	.search {
		height: 600px;
	}

	.search-form {
		margin: 0px auto;
		width: 100%;
	}

	.search-form-column {
        padding-left: 0;
        flex: 100%;
    }
	
	.search-form-row {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 5px;
	}
	
	.search-form label {
		margin-top: 5px;
		font-size: 12px;
	}

	.show {
        display: flex;
    }

    .shortcut-nav {
        flex-direction: column;
        align-items: center;
		margin-bottom: 30px;
    }

    .shortcut-nav-item {
        width: 100%;
        margin-bottom: 20px;
    }

	.social-icons{
		width: 100px;
	}

	.special-offer {
		height: 180px;
	}
	.special-offer img {
		width: 40px;
	}

	.special-offer a {
		font-size: 13px;
	}

	.special-offer-line {
		display: none;
	}

	.special-offer-item-description {
		display: none;
	}

}

/* ipad*/

@media only screen and (min-width: 767px) and (max-width: 1023px) {

	.car-cards {
		grid-template-columns: repeat(2, 1fr);
	}

}	



