<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/styles.css">

    <title>Car Rental</title>
</head>
<body>

        <div class="container">
            <div class="header">

                <div class="logo">
                    <a href="/"><img src="../images/logo.svg"></a>
                </div>

                <nav class="nav">
                    <a href="/">
                      <button class="button">
                        NEW BOOKING
                      </button>
                    </a>
                    <div class="dropdown">
                      <a href="/cars">CARS</a>
                    </div>
              
                    <div class="dropdown">
                      <div class="dropdown-toggle">
                        <a href="#">SERVICES</a>
                        <img src="../images/arrow-down-2.png">
                      </div>
                          <ul class="dropdown-content">
                              <li><a href="/longTermCarRental">Long-Term Rental</a></li>
                              <li><a href="/loyaltyProgramme">Loyalty Programme</a></li>
                              <li><a href="/quickPass">QuickPass</a></li>
                              <li><a href="/faq">FAQ</a></li>
                          </ul>
                    </div>
              
                    <div class="dropdown">
                      <a href="/reservations">RESERVATIONS</a>
                    </div>
              
                    <div class="dropdown toggle">
                      <a th:if="${not #authorization.expression('isAuthenticated()')}" href="/login">LOGIN<img src="../images/login-person.png" alt="login-person"></a>
                      <a th:if="${#authorization.expression('isAuthenticated()')}" href="/logout">LOGOUT<img src="../images/login-person.png" alt="login-person"></a>
                    </div>
                  </nav>

                <button class="burger" id="burger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>  

            </div>
 
            <div class="filter-cars">
                <h2 class="filter-cars-h2">Filters: </h2>
                <button class="filters-dropdown" id="filters-dropdown">
                    <h2>Filters: </h2>
                    <img src="../images/arrow-down.png" width="20px">
                </button>
            
                <div class="filters" id="filters">
                    <label>
                        <input type="checkbox" class="filter-checkbox" id="automat" />
                        <p>Automat</p>
                    </label>
                  
                    <label>
                        <input type="checkbox" class="filter-checkbox" id="manual"/>
                        <p>Manual</p>
                    </label>
                  
                    <label>
                        <input type="checkbox" class="filter-checkbox" id="small" />
                        <p>Small</p>
                    </label>
                  
                    <label>
                        <input type="checkbox" class="filter-checkbox" id="economy" />
                        <p>Economy</p>
                    </label>

                    <label>
                        <input type="checkbox" class="filter-checkbox" id="compact" />
                        <p>Compact</p>
                    </label>
                  
                    <label>
                        <input type="checkbox" class="filter-checkbox" id="estates" />
                        <p>Estates</p>
                    </label>

                    <label>
                        <input type="checkbox" class="filter-checkbox" id="suv"/>
                        <p>SUV</p>
                    </label>
                </div>
            </div>

            <div class="car-cards">
                <div class="car-card" data-car-class="small" data-car-feature="manual">
                    <img src="../images/fiat-500.png" alt="fiat 500">
                    <h2>Fiat 500</h2>
                    <div class="car-description">
                        <div>
                            <p><span class="red-check-mark">&#x2713;</span> Vehicle of class Small</p>
                            <p><span class="red-check-mark">&#x2713;</span> 4 seats</p>
                            <p><span class="red-check-mark">&#x2713;</span> 1 bag</p>
                            <p><span class="red-check-mark">&#x2713;</span> 2 doors</p>
                        </div>
                        <div>
                            <p><span class="red-check-mark">&#x2713;</span> Manual</p>
                            <p><span class="red-check-mark">&#x2713;</span> Air con</p>
                            <p><span class="red-check-mark">&#x2713;</span> Petrol/Diesel</p>
                        </div>
                    </div>
                </div>
                <div class="car-card" data-car-class="economy" data-car-feature="manual">
                    <img src="../images/renault-clio.png" alt="renault clio">
                    <h2>Renault Clio</h2>
                    <div class="car-description">
                        <div>
                            <p><span class="red-check-mark">&#x2713;</span> Vehicle of class Economy</p>
                            <p><span class="red-check-mark">&#x2713;</span> 4 seats</p>
                            <p><span class="red-check-mark">&#x2713;</span> 1 bag</p>
                            <p><span class="red-check-mark">&#x2713;</span> 4 doors</p>
                        </div>
                        <div>
                            <p><span class="red-check-mark">&#x2713;</span> Manual</p>
                            <p><span class="red-check-mark">&#x2713;</span> Air con</p>
                            <p><span class="red-check-mark">&#x2713;</span> Petrol/Diesel</p>
                        </div>
                    </div>
                </div>
                <div class="car-card" data-car-class="compact" data-car-feature="manual">
                    <img src="../images/seat-leon.png" alt="seat leon">
                    <h2>Seat Leon</h2>
                    <div class="car-description">
                        <div>
                            <p><span class="red-check-mark">&#x2713;</span> Vehicle of class Compact</p>
                            <p><span class="red-check-mark">&#x2713;</span> 5 seats</p>
                            <p><span class="red-check-mark">&#x2713;</span> 2 bag</p>
                            <p><span class="red-check-mark">&#x2713;</span> 4 doors</p>
                        </div>
                        <div>
                            <p><span class="red-check-mark">&#x2713;</span> Manual</p>
                            <p><span class="red-check-mark">&#x2713;</span> Air con</p>
                            <p><span class="red-check-mark">&#x2713;</span> Petrol/Diesel</p>
                        </div>
                    </div>
                </div>
                <div class="car-card" data-car-class="estates" data-car-feature="automat">
                    <img src="../images/skoda-octavia-combi.png" alt="skoda octavia combi">
                    <h2>Skoda Octavia Combi</h2>
                    <div class="car-description">
                        <div>
                            <p><span class="red-check-mark">&#x2713;</span> Vehicle of class Estates</p>
                            <p><span class="red-check-mark">&#x2713;</span> 5 seats</p>
                            <p><span class="red-check-mark">&#x2713;</span> 3 bag</p>
                            <p><span class="red-check-mark">&#x2713;</span> 5 doors</p>
                        </div>
                        <div>
                            <p><span class="red-check-mark">&#x2713;</span> Automatic</p>
                            <p><span class="red-check-mark">&#x2713;</span> Air con</p>
                            <p><span class="red-check-mark">&#x2713;</span> Petrol/Diesel</p>
                        </div>
                    </div>
                </div>
                <div class="car-card" data-car-class="suv" data-car-feature="automat">
                    <img src="../images/volvo-xc60.png" alt="volvo xc60">
                    <h2>Volvo XC60</h2>
                    <div class="car-description">
                        <div>
                            <p><span class="red-check-mark">&#x2713;</span> Vehicle of class SUV</p>
                            <p><span class="red-check-mark">&#x2713;</span> 5 seats</p>
                            <p><span class="red-check-mark">&#x2713;</span> 3 bag</p>
                            <p><span class="red-check-mark">&#x2713;</span> 4 doors</p>
                        </div>
                        <div>
                            <p><span class="red-check-mark">&#x2713;</span> Automatic</p>
                            <p><span class="red-check-mark">&#x2713;</span> Air con</p>
                            <p><span class="red-check-mark">&#x2713;</span> Petrol/Diesel</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="push"></div>
        </div>



            <div class="footer">
                <div class="footer-columns">
                    <div class="footer-column-side">
                        <img src="../images/logo.svg">
                    </div>
                    <div class="footer-column">
                        <a href="#">Terms and conditions</a>
                        <a href="#">FAQ</a>
                        <a href="#">Rental points</a>
                        <a href="#">Promotions</a>
                        <a href="#">Cars</a>
                    </div>
                    <div class="footer-column">
                        <a href="#">About us</a>
                        <a href="#">Contact</a>
                        <a href="#">Privacy policy</a>
                    </div>
                    <div class="footer-column">
                        <a href="#">Book a car</a>
                        <a href="#">Long term rental</a>
                        <a href="#">Car-Rent inclusive</a>
                        <a href="#">QuickPass</a>
                        <a href="#">Offer for companies</a>
                    </div>
                    <div class="footer-column-side">
                        <p>+47 486 27 952</p>
                        <p>contact@car-rent.no</p>
                        <p>Car-Rent AS, <br>
                            Gaupåsvegen 257, 5265 Ytre Arna</p>
                        <div class="social-icons">
                            <img src="../images/icon-facebook.png">
                            <img src="../images/icon-linkedin.png">
                            <img src="../images/icon-instagram.png">
                        </div>
                    </div>
                </div>
                <h5>&copy; </h5><h5 id="currentYear"></h5> <h5>Car-Rent Company - All Rights Reserved.</h5>
            </div>  

    <script src="../js/script.js"></script>
</body>
</html>