<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Rental</title>
  <link rel="stylesheet" href="../static/CSS/styles.css">
</head>
<body>
  <div class="container">
  <div class="header">
    <div class="car-rental-logo">
      <a href="/" class="logo-text">CAR - RENT</a>
    </div>


    <nav class="menu">

      <div class="dropdown" sec:authorize="hasAnyRole('ROLE_CUSTOMER', 'ROLE_EMPLOYEE')">
        <a href="#">Reservation</a>
        <ul>
          <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="/reservations">Display reservations</a></li>
          <li sec:authorize="hasRole('ROLE_CUSTOMER')"><a href="/reservations">Your reservations</a></li>
          <li><a href="/">New reservation</a></li>
          <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="#">Rent a Car</a></li>
          <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="#">Return Car</a></li>
        </ul>
      </div>

      <div class="dropdown"  sec:authorize="hasRole('ROLE_EMPLOYEE')">
        <a href="cars-list.html/display cars for clients">Cars</a>
        <ul>
          <li><a href="/cars">Display car list</a></li>
          <li><a href="/createCar">Add vehicle</a></li>
          <li><a href="#">Find a car</a></li>
        </ul>
      </div>

      <div class="dropdown" sec:authorize="hasRole('ROLE_EMPLOYEE')">
        <a href="#">Clients</a>
        <ul>
          <li><a href="#">Display clients list</a></li>
          <li><a href="#">Add client</a></li>
          <li><a href="#">Remove client</a></li>
          <li><a href="#">Show reservations</a></li>
          <li><a href="#">Find client(by name/client ID)</a></li>
        </ul>
      </div>

      <div class="dropdown" sec:authorize="hasRole('ROLE_EMPLOYEE')">
        <a href="#">Branch</a>
        <ul>
          <li><a href="#">List of employees</a></li>
          <li><a href="#">Add employee</a></li>
          <li><a href="#">//set employee status</a></li>
          <li><a href="#">Remove employee</a></li>
          <li><a href="#">List of available cars</a></li>
        </ul>
      </div>

      <!--            <div class="dropdown">
                  <a href="#">???Statistics</a>
                      <ul>
                          <li><a href="#">Display Incomes/branch</a></li>
                          <li><a href="#">Most rented car</a></li>
                      </ul>
                  </div>-->

      <div class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="#">Rent Companies</a>
        <ul>
          <li><a href="#">List of companies</a></li>
          <li><a href="#">Add company</a></li>
          <li><a href="#">Remove company</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <a href="#">My Account</a>
        <ul>
          <li th:if="${not #authorization.expression('isAuthenticated()')}">
            <a href="/login">Login</a>
          </li>
          <li th:if="${#authorization.expression('isAuthenticated()')}">
            <a href="/logout">Logout</a>
          </li>
          <li th:if="${not #authorization.expression('isAuthenticated()')}">
            <a href="/create-customer">Create Account</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>


  <div class="advertisement-subpage-container">
    <div class="advertisement-subpage-left">
      <img src="../images/car-logo.png" alt="car-rental-logo" width="200"  height="100">
    </div>
    <div class="advertisement-subpage-right">
      <h1>Cars</h1>
    </div>
  </div>


  <div>
    <form action="/find-car-by-id" method="post" class="form form-search-car-by-id">
      <input type="text" id="carId" name="carId" placeholder="Enter Car ID:" required>
      <button class="button" type="submit">Search</button>
    </form>
  </div>


  <div class="filter">
    <select id="brand" name="brand" class="select"></select>
    <select id="size" name="size" class="select"></select>
    <select id="price" name="price" class="select"></select>
    <select id="gearbox" name="gearbox" class="select"></select>
  </div>


  <div class="main-subpage">
    <div class="tables">
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Size</th>
        <th>Color</th>
        <th>Production <br>Year</th>
        <th>Price <br>/ day</th>
        <th>Mileage</th>
        <th>Rental</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="car : ${cars}">

        <td th:text="${car.id}" />
        <td th:text="${car.brand}" />
        <td th:text="${car.model}" />
        <td th:text="${car.size}" />
        <td th:text="${car.color}" />
        <td th:text="${car.productionYear}" />
        <td th:text="${car.price}" />
        <td th:text="${car.mileage}" />
        <td th:text="${car.rental.address.city + ', ' + car.rental.name}" />

        <td style="text-align: right">
          <a th:href="@{/updateCar(carId=${car.id})}"><button class="button-warning button-common">Update</button></a>
          <form th:action="@{/updateCar}" method="post">
            <input type="hidden" th:value="${car.id}" name="carId" />
          </form>
        </td>

        <td >
          <form th:action="@{/deleteCar}" method="post"
                onsubmit="return confirm('Are you sure you want to delete this car?')">
            <input type="hidden" name="carId" th:value="${car.id}" />
            <button class="button-danger button-common" type="submit">Delete</button>
          </form>
        </td>

      </tr>
      </tbody>
    </table>
    </div>
  </div>

  <div class="push"></div>
</div>

<div class="footer">
  <p>&copy; All rights reserved.</p>
</div>
</body>
</html>
