<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/styles.css">

    <title>Car Rental</title>
</head>
<body>

        <div class="container">
            <div class="header">

                <div class="logo">
                    <a href="/"><img src="../images/logo.svg"></a>
                </div>

                <nav class="nav">
                    <a href="/">
                        <button class="button">
                            NEW BOOKING
                        </button>
                    </a>
                    <div class="dropdown toggle" onclick="toggleDropdown(this)">
                        <a href="/cars">CARS</a>
                        <ul class="dropdown-content">
                            <li><a sec:authorize="hasRole('ROLE_EMPLOYEE')" href="/cars">Display car list</a></li>
                            <li><a sec:authorize="hasRole('ROLE_EMPLOYEE')" href="/createCar">Add vehicle</a></li>
                            <li><a sec:authorize="hasRole('ROLE_EMPLOYEE')" href="#">Find a car</a></li>
                        </ul>
                    </div>

                    <div class="dropdown toggle" onclick="toggleDropdown(this)" sec:authorize="hasAnyRole('ROLE_CUSTOMER', 'ROLE_EMPLOYEE', 'ROLE_ADMIN')">
                        <a href="/reservations">RESERVATIONS</a>
                        <ul class="dropdown-content">
                            <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="/reservations">Display reservations</a></li>
                            <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="/">New reservation</a></li>
                            <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="#">Rent a Car</a></li>
                            <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="#">Return Car</a></li>
                        </ul>
                    </div>

                    <div class="dropdown toggle" onclick="toggleDropdown(this)">
                        <a th:if="${not #authorization.expression('isAuthenticated()')}" href="/login">LOGIN<img src="../images/login-person.png" alt="login-person"></a>
                        <a th:if="${#authorization.expression('isAuthenticated()')}" href="/logout">LOGOUT<img src="../images/login-person.png" alt="login-person"></a>
                    </div>
                </nav>

                <button class="burger" id="burger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>  

            </div>

            <div class="rental-details-bar">
                <div class="rental-details-bar-item">
                    <h5>PICK-UP LOCATION</h5>
                    <p th:text="${currentPickUpBranch.address.city}" />
                </div>
                <div class="rental-details-bar-line">
                    <img src="../images/line-vertical-short.png">
                </div>
                <div class="rental-details-bar-item">
                    <h5>DROP-OFF LOCATION</h5>
                    <p th:text="${currentDropOffBranch.address.city}" />
                </div>
                <div class="rental-details-bar-line">
                    <img src="../images/line-vertical-short.png">
                </div>
                <div class="rental-details-bar-item">
                    <h5>PICK-UP DATE</h5>
                    <p th:text="${currentPickUpDateTime}" />
                </div>
                <div class="rental-details-bar-line">
                    <img src="../images/line-vertical-short.png">
                </div>
                <div class="rental-details-bar-item">
                    <h5>DROP-OFF DATE</h5>
                    <p th:text="${currentDropOffDateTime}" />
                </div>
            </div>
 
            <div class="filter-cars">
                <h2 class="filter-cars-h2">Filters: </h2>
                <button class="filters-dropdown" id="filters-dropdown">
                    <h2>Filters: </h2>
                    <img src="../images/arrow-down.png" width="20px">
                </button>
            
                <div class="filters" id="filters">
                    <label>
                        <input type="checkbox" class="filter-checkbox" id="automat" />
                        <p>Automat</p>
                    </label>
                  
                    <label>
                        <input type="checkbox" class="filter-checkbox" id="manual"/>
                        <p>Manual</p>
                    </label>
                  
                    <label>
                        <input type="checkbox" class="filter-checkbox" id="small" />
                        <p>Small</p>
                    </label>
                  
                    <label>
                        <input type="checkbox" class="filter-checkbox" id="economy" />
                        <p>Economy</p>
                    </label>

                    <label>
                        <input type="checkbox" class="filter-checkbox" id="compact" />
                        <p>Compact</p>
                    </label>
                  
                    <label>
                        <input type="checkbox" class="filter-checkbox" id="estates" />
                        <p>Estates</p>
                    </label>

                    <label>
                        <input type="checkbox" class="filter-checkbox" id="suv"/>
                        <p>SUV</p>
                    </label>
                </div>
            </div>

            <div class="car-cards">
                <div class="car-card" th:each="car : ${carList}"
                     th:data-car-class="${#strings.toLowerCase(car.size)}"
                     th:data-car-feature="${#strings.toLowerCase(car.transmissionType)}">
                    <img th:src="'..' + ${car.imagePath}" th:alt="${car.brand + ' ' + car.model}">
                    <h2 th:text="${car.getSize()}"></h2>
                    <p th:text="${car.size.getCarClassShortDescription()}" />
                    <div class="car-card-short-description">
                        <p th:text="${car.size.getMaxNumberOfPersons()} + ' seats'" />
                        <img src="../images/line-vertical.png">
                        <p th:text="${car.size.getNumberOfDoors()} + ' doors'" />
                        <img src="../images/line-vertical.png">
                        <p th:text="${car.transmissionType}"/>
                    </div>
                    <div class="car-card-price-and-book-now-button">
                        <div >
                            <h2 th:text="'$ ' + ${car.price}" />
                            <p>per day</p>
                        </div>
                        <div>
                            <button class="button button-book-now"><a th:href="@{/preselect-car(carId=${car.id}, currentDropOffBranchId=${currentDropOffBranchId},
                                currentPickUpBranchId=${currentPickUpBranchId},
                                currentPickUpDateTime=${currentPickUpDateTime},
                                currentDropOffDateTime=${currentDropOffDateTime},
                                currentPickUpBranch=${currentPickUpBranch},
                                currentDropOffBranch=${currentDropOffBranch},
                                toCarsFoundedReturnUrl=${toCarsFoundedReturnUrl})}" th:method="GET">BOOK NOW</a></button>
                        </div>                        
                    </div>
                </div>
            </div>


            <div id="push"></div>
        </div>



            <div class="footer">
                <div class="footer-columns">
                    <div class="footer-column-side">
                        <img src="../images/logo.svg">
                    </div>
                    <div class="footer-column">
                        <a href="#">Terms and conditions</a>
                        <a href="#">FAQ</a>
                        <a href="#">Rental points</a>
                        <a href="#">Promotions</a>
                        <a href="#">Cars</a>
                    </div>
                    <div class="footer-column">
                        <a href="#">About us</a>
                        <a href="#">Contact</a>
                        <a href="#">Privacy policy</a>
                    </div>
                    <div class="footer-column">
                        <a href="#">Book a car</a>
                        <a href="#">Long term rental</a>
                        <a href="#">Car-Rent inclusive</a>
                        <a href="#">QuickPass</a>
                        <a href="#">Offer for companies</a>
                    </div>
                    <div class="footer-column-side">
                        <p>+47 486 27 952</p>
                        <p>contact@car-rent.no</p>
                        <p>Car-Rent AS, <br>
                            Gaupåsvegen 257, 5265 Ytre Arna</p>
                        <div class="social-icons">
                            <img src="../icon-facebook.png">
                            <img src="../icon-linkedin.png">
                            <img src="../icon-instagram.png">
                        </div>
                    </div>
                </div>
                <h5>&copy; 2023 Car-Rent Company - All Rights Reserved.</h5>
            </div>
        <script src="../js/script.js"></script>
</body>
</html>