<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preselect-car</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>


<div class="header">
    <div class="car-rental-logo">
        <a href="/" class="logo-text">CAR - RENT</a>
    </div>

    <nav class="nav">
        <a href="/">
          <button class="button">
            NEW BOOKING
          </button>
        </a>
        <div class="dropdown">
          <a href="/cars">CARS</a>
        </div>
  
        <div class="dropdown">
          <div class="dropdown-toggle">
            <a href="#">SERVICES</a>
            <img src="../images/arrow-down-2.png">
          </div>
              <ul class="dropdown-content">
                  <li><a href="/longTermCarRental">Long-Term Rental</a></li>
                  <li><a href="/loyaltyProgramme">Loyalty Programme</a></li>
                  <li><a href="/quickPass">QuickPass</a></li>
                  <li><a href="/faq">FAQ</a></li>
              </ul>
        </div>
  
        <div class="dropdown">
          <a href="/reservations">RESERVATIONS</a>
        </div>
  
        <div class="dropdown toggle">
          <a th:if="${not #authorization.expression('isAuthenticated()')}" href="/login">LOGIN<img src="../images/login-person.png" alt="login-person"></a>
          <a th:if="${#authorization.expression('isAuthenticated()')}" href="/logout">LOGOUT<img src="../images/login-person.png" alt="login-person"></a>
        </div>
      </nav>
</div>


<div class="advertisement-subpage-container">
    <div class="advertisement-subpage-left">
        <img src="../images/car-logo.png" alt="car-rental-logo" width="200"  height="100">
    </div>
    <div class="advertisement-subpage-right">
        <h1>RESERVATION</h1>
    </div>
</div>


<div class="main-subpage">

    <div class="success-message">
        <p th:text="${reservationConfirmed}"></p>
    </div>

</div>

<div class="push"></div>


<div class="footer">
    <p>&copy; All rights reserved</p>
</div>

</body>
</html>