<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/styles.css">
    <script type="text/javascript" src="../js/script.js"></script>

    <title>Car Rental</title>
</head>
<body>

        <div class="container">
            <div class="header">

                <div class="logo">
                    <a href="/"><img src="../images/logo.svg"></a>
                </div>

                <nav class="nav">
                    <a href="/">
                        <button class="button">
                            NEW BOOKING
                        </button>
                    </a>
                    <div class="dropdown toggle" onclick="toggleDropdown(this)">
                        <a href="/cars">CARS</a>
                        <ul class="dropdown-content">
                            <li><a sec:authorize="hasRole('ROLE_EMPLOYEE')" href="/cars">Display car list</a></li>
                            <li><a sec:authorize="hasRole('ROLE_EMPLOYEE')" href="/createCar">Add vehicle</a></li>
                            <li><a sec:authorize="hasRole('ROLE_EMPLOYEE')" href="#">Find a car</a></li>
                        </ul>
                    </div>

                    <div class="dropdown toggle" onclick="toggleDropdown(this)" sec:authorize="hasAnyRole('ROLE_CUSTOMER', 'ROLE_EMPLOYEE', 'ROLE_ADMIN')">
                        <a href="/reservations">RESERVATIONS</a>
                        <ul class="dropdown-content">
                            <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="/reservations">Display reservations</a></li>
                            <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="/">New reservation</a></li>
                            <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="#">Rent a Car</a></li>
                            <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="#">Return Car</a></li>
                        </ul>
                    </div>

                    <div class="dropdown toggle" onclick="toggleDropdown(this)">
                        <a th:if="${not #authorization.expression('isAuthenticated()')}" href="/login">LOGIN<img src="../images/login-person.png" alt="login-person"></a>
                        <a th:if="${#authorization.expression('isAuthenticated()')}" href="/logout">LOGOUT<img src="../images/login-person.png" alt="login-person"></a>
                    </div>
                </nav>

                <button class="burger" id="burger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>  

            </div>

            <div>

              <!--  <form class="login-form" th:action="@{/authenticateUser}" method="POST">-->
              
              
                  <div th:if="${param.error}">
                    <p class="success-message login-form-success-message">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                  </div>
              
                  <div th:if="${param.logout}">
                    <p class="success-message login-form-success-message">You have been logged out.</p>
                  </div>
              
                <form class="login-form" th:action="@{/authenticateUser}" method="POST">
                  <div>
                    <div class="input-to-form">
                      <p>Email</p>  
                      <input type="text" id="email" name="email" required autofocus/>
                    </div>
                    <div class="input-to-form">
                      <p>Password</p>  
                      <input type="password" id="password" name="password" required />
                    </div>
                    <p>
                      <button class="button" type="submit">Login</button>
                    </p>
                    <p>
                      Not a member? <a th:href="@{/create-customer}">Create account</a>
                    </p>
                  </div>
                </form>
              </div>

            <div id="push"></div>
        </div>



            <div class="footer">
                <div class="footer-columns">
                    <div class="footer-column-side">
                        <img src="../images/logo.svg">
                    </div>
                    <div class="footer-column">
                        <a href="#">Terms and conditions</a>
                        <a href="#">FAQ</a>
                        <a href="#">Rental points</a>
                        <a href="#">Promotions</a>
                        <a href="#">Cars</a>
                    </div>
                    <div class="footer-column">
                        <a href="#">About us</a>
                        <a href="#">Contact</a>
                        <a href="#">Privacy policy</a>
                    </div>
                    <div class="footer-column">
                        <a href="#">Book a car</a>
                        <a href="#">Long term rental</a>
                        <a href="#">Car-Rent inclusive</a>
                        <a href="#">QuickPass</a>
                        <a href="#">Offer for companies</a>
                    </div>
                    <div class="footer-column-side">
                        <p>+47 486 27 952</p>
                        <p>contact@car-rent.no</p>
                        <p>Car-Rent AS, <br>
                            Gaupåsvegen 257, 5265 Ytre Arna</p>
                        <div class="social-icons">
                            <img src="../images/icon-facebook.png">
                            <img src="../images/icon-linkedin.png">
                            <img src="../images/icon-instagram.png">
                        </div>
                    </div>
                </div>
                <h5>&copy; 2023 Car-Rent Company - All Rights Reserved.</h5>
            </div>
        
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <!--BURGER MENU-->
        <script>
            document.getElementById('burger-menu').addEventListener('click', function () {
                document.querySelector('.nav').classList.toggle('show');
            });

            document.addEventListener('DOMContentLoaded', function () {
        if (window.innerWidth <= 767) {
            var dropdowns = document.querySelectorAll('.nav .dropdown');

            dropdowns.forEach(function (dropdown) {
                dropdown.addEventListener('click', function () {
                    var submenu = this.querySelector('.submenu');
                    if (submenu) {
                        // Schowaj wszystkie otwarte podmenu
                        var openSubmenus = document.querySelectorAll('.submenu.show');
                        openSubmenus.forEach(function (openSubmenu) {
                            openSubmenu.classList.remove('show');
                        });

                        // Pokaż/ukryj aktualne podmenu
                            submenu.classList.toggle('show');
                        }
                    });

                    // Dodaj obsługę zamykania podmenu po kliknięciu poza nim
                    document.addEventListener('click', function (event) {
                        var isClickInside = dropdown.contains(event.target);
                        if (!isClickInside) {
                            var openSubmenu = document.querySelector('.submenu.show');
                            if (openSubmenu) {
                                openSubmenu.classList.remove('show');
                            }
                        }
                    });
                });
            }});
        </script>

        <!-- SHOW/HIDE FILTERS SMALL SCREAN -->
        <script>
            document.getElementById('filters-dropdown').addEventListener('click', function () {
                document.querySelector('.filters').classList.toggle('show');
            });
        </script>



        <script>
            $(document).ready(function () {
                // Pobierz wszystkie checkboxy
                var checkboxes = $('input[type=checkbox]');

                // Dodaj event listener dla zmiany stanu checkboxa
                checkboxes.change(function () {
                    // Pobierz wartość "id" checkboxa
                    var checkboxId = $(this).attr('id');

                    // Pokaż lub ukryj karty samochodowe w zależności od stanu checkboxa
                    toggleCarCards(checkboxId);
                });

                // Funkcja do pokazywania lub ukrywania kart w zależności od stanu checkboxa
                function toggleCarCards(checkboxId) {
                    // Pobierz stan checkboxa
                    var isChecked = $('#' + checkboxId).prop('checked');

                    // Sprawdź dla każdej karty, czy spełnia warunki checkboxów i ukryj lub pokaż
                    $('.car-card').each(function () {
                        var carFeatures = $(this).data('features').split(' ');

                        // Warunki filtrowania (dodaj więcej warunków według potrzeb)
                        var shouldShow = true;

                        // Sprawdź, czy cecha karty odpowiada zaznaczonemu checkboxowi
                        if (isChecked && carFeatures.indexOf(checkboxId) === -1) {
                            shouldShow = false;
                        }

                        // Pokaż lub ukryj kartę w zależności od warunków
                        if (shouldShow) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                }
            });
        </script>
</body>
</html>