<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
    <div class="car-rental-logo">
        <p class="logo-text">CAR - RENT</p>
    </div>
    
    <nav class="menu">

        <div class="dropdown">
            <a href="#">Reservation</a>
            <ul>
                <li><a href="#">New reservation</a></li>
                <li><a href="#">Your reservations</a></li>
                <li><a href="#">? Change reservation</a></li>
                <li><a href="#">Delete reservation</a></li>
                <li><a href="#">Rent a Car/employee</a></li>
                <li><a href="#">Return Car/employee</a></li>
                <li><a href="#">Policies</a></li>
                <li><a href="#">//calculate the price</a></li>
              </ul>
            </div>

            <div class="dropdown">
            <a href="#/display cars for clients">Cars</a>
                <ul>
                    <li><a href="#">Display car list</a></li>
                    <li><a href="#">Add vehicle</a></li>
                    <li><a href="#">Remove vehicle</a></li>
                    <li><a href="#">Find a car (by model/reg num/km...)</a></li>
                    <li><a href="#">Change cars data</a></li>
                    <li><a href="#">//set status</a></li>
                    <li><a href="#">//set km</a></li>
                 </ul>
            </div>

            <div class="dropdown">
            <a href="#">Clients</a>
                <ul>
                    <li><a href="#">Display clients list</a></li>
                    <li><a href="#">Add client</a></li>
                    <li><a href="#">Remove client</a></li>
                    <li><a href="#">Show reservations</a></li>
                    <li><a href="#">Find client(by name/client ID)</a></li>
                </ul>
            </div>

            <div class="dropdown">
            <a href="#">Branch</a>
                <ul>
                    <li><a href="#">List of employees</a></li>
                    <li><a href="#">Add employee</a></li>
                    <li><a href="#">//set employee status</a></li>
                    <li><a href="#">Remove employee</a></li>
                    <li><a href="#">List of available cars</a></li>
                </ul>
            </div>

            <div class="dropdown">
            <a href="#">???Statistics</a>
                <ul>
                    <li><a href="#">Display Incomes/branch</a></li>
                    <li><a href="#">Most rented car</a></li>
                </ul>
            </div>

            <div class="dropdown">
            <a href="#">Rent Companies</a>
                <ul>
                    <li><a href="#">List of branches</a></li>
                    <li><a href="#">Add branch</a></li>
                    <li><a href="#">Remove branch</a></li>
                </ul>
            </div>

            <div class="dropdown">
            <a href="#">My Account</a>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>

          
       
      </nav>
   

    <div class="main">
        <div class="advertisement">

    
            Rental Car.  
            Go wherever the road may lead.

            <img src="../images/car.png" alt="car-rental-logo" width="400"  height="200">
        </div>
        <div class="search">
            <div class="search-container">
                <h1>Car Search</h1>
                <form th:action="@{/search}" method="get">
                    <label for="pickup-location">Pickup Location:</label>
                    <select id="pickup-location" name="pickupLocation" class="location-select">
                        <option th:each="branch : ${pickupBranches}" th:value="${branch.id}" th:text="${branch.address}"></option>
                    </select>
    
                    <label for="return-location">Return Location:</label>
                    <select id="return-location" name="returnLocation" class="location-select">
                        <option th:each="branch : ${returnBranches}" th:value="${branch.id}" th:text="${branch.address}"></option>
                    </select>
    
                    <label for="pickup-date">Pickup Date and Time:</label>
                    <input type="datetime-local" id="pickup-date" name="pickupDateTime">
    
                    <label for="return-date">Return Date and Time:</label>
                    <input type="datetime-local" id="return-date" name="returnDateTime">
    
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    
    
</div>

<div class="footer">
    <p>&copy; Wszelkie prawa zastrzeżone.</p>
</div>
</body>
</html>
