<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>

        <div class="container">

                <div class="car-rental-logo">
                    <a href="/index" class="logo-text">CAR - RENT</a>
                </div>
                
                 <nav class="menu">

                    <div class="dropdown" sec:authorize="hasAnyRole('ROLE_CUSTOMER', 'ROLE_EMPLOYEE')">
                        <a href="#">Reservation</a>
                        <ul>
                            <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="#">Display reservations</a></li>
                            <li sec:authorize="hasRole('ROLE_CUSTOMER')"><a href="#">Your reservations</a></li>
                            <li><a href="/index">New reservation</a></li>
                            <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="#">Rent a Car</a></li>
                            <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="#">Return Car</a></li>
                        </ul>
                    </div>

                     <div class="dropdown"  sec:authorize="hasRole('ROLE_EMPLOYEE')">
                        <a href="#/display cars for clients">Cars</a>
                            <ul>
                                <li><a href="/cars">Display car list</a></li>
                                <li><a href="#">Add vehicle</a></li>
                                <li><a href="#">Find a car</a></li>
                            </ul>
                     </div>

                     <div class="dropdown" sec:authorize="hasRole('ROLE_EMPLOYEE')">
                        <a href="#">Clients</a>
                            <ul>
                                <li><a href="#">Display clients list</a></li>
                                <li><a href="#">Add client</a></li>
                                <li><a href="#">Remove client</a></li>
                                <li><a href="#">Show reservations</a></li>
                                <li><a href="#">Find client(by name/client ID)</a></li>
                            </ul>
                     </div>

                     <div class="dropdown" sec:authorize="hasRole('ROLE_EMPLOYEE')">
                        <a href="#">Branch</a>
                            <ul>
                                <li><a href="#">List of employees</a></li>
                                <li><a href="#">Add employee</a></li>
                                <li><a href="#">//set employee status</a></li>
                                <li><a href="#">Remove employee</a></li>
                                <li><a href="#">List of available cars</a></li>
                            </ul>
                     </div>

                     <!--
                        <div class="dropdown">
                        <a href="#">???Statistics</a>
                            <ul>
                                <li><a href="#">Display Incomes/branch</a></li>
                                <li><a href="#">Most rented car</a></li>
                            </ul>
                        </div>
                     -->

                     <div class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#">Rent Companies</a>
                            <ul>
                                <li><a href="#">List of companies</a></li>
                                <li><a href="#">Add company</a></li>
                                <li><a href="#">Remove company</a></li>
                            </ul>
                     </div>

                     <div class="dropdown">
                        <a href="#">My Account</a>
                            <ul>
                                <li><a href="#">Login</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                     </div>

                </nav>
            </div>
        

            <div class="main">
                <div class="advertisement">

            
                    Rental Car.<br>
                    Go wherever the road may lead.

                    <img src="../images/car-logo.png" alt="car-rental-logo" width="600"  height="300">
                </div>
                <div class="search">
                    <div class="search-container">
                        <form th:action="@{/search}" method="GET">
                            <label for="currentPickUpBranchId">pickup LOCATION:</label>
                            <select id="currentPickUpBranchId" name="currentPickUpBranchId" class="location-select">
                                <option th:each="pickUpLocation : ${allBranches}" th:text="${pickUpLocation.address}"
                                        th:value="${pickUpLocation.getId()}"></option>
                            </select>
            
                            <label for="currentDropOffBranchId">drop-off LOCATION:</label>
                            <select id="currentDropOffBranchId" name="currentDropOffBranchId" class="location-select">
                                <option th:each="dropOffLocation : ${allBranches}" th:text="${dropOffLocation.address}"
                                th:value="${dropOffLocation.getId()}"></option>

                            </select>
            
                            <label for="pickUpDate">pickup DATE:</label>
                            <input type="datetime-local" id="pickUpDate" name="currentPickUpDateTime">
            
                            <label for="dropOffDate">drop-off DATE:</label>
                            <input type="datetime-local" id="dropOffDate" name="currentDropOffDateTime">

                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <div id="push"></div>
            <div class="footer">
                <p>&copy; All rights reserved.</p>
            </div>
        </div>
</body>
</html>