<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="../CSS/styles.css">

  <title>Car Rental</title>
</head>
<body>

<div class="container">
  <div class="header">

    <div class="logo">
      <a href="/"><img src="../images/logo.svg"></a>
    </div>

    <nav class="nav">
      <a href="/">
        <button class="button">
          NEW BOOKING
        </button>
      </a>
      <div class="dropdown">
        <a href="/cars">CARS</a>
      </div>

      <div class="dropdown">
        <div class="dropdown-toggle">
          <a href="#">SERVICES</a>
          <img src="../images/arrow-down-2.png">
        </div>
            <ul class="dropdown-content">
                <li><a href="/longTermCarRental">Long-Term Rental</a></li>
                <li><a href="/loyaltyProgramme">Loyalty Programme</a></li>
                <li><a href="/quickPass">QuickPass</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
      </div>

      <div class="dropdown">
        <a href="/reservations">RESERVATIONS</a>
      </div>

      <div class="dropdown toggle">
        <a th:if="${not #authorization.expression('isAuthenticated()')}" href="/login">LOGIN<img src="../images/login-person.png" alt="login-person"></a>
        <a th:if="${#authorization.expression('isAuthenticated()')}" href="/logout">LOGOUT<img src="../images/login-person.png" alt="login-person"></a>
      </div>
    </nav>

    <button class="burger" id="burger-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="banner-low">
    <img src="../images/banner-loyalty-programme.png">
  </div>

  <div class="service-body">
    <div class="service-block">
      <h3>Welcome to Car-Rent loyalty programme</h3>
      <p><br><br>As a member of Avis Preferred, the benefits don't start when you hire one of our vehicles. You can enjoy them long before you've set off. Joining the programme is completely free and you'll instantly receive the rewards and benefits set out below.<br><br> These include a 10% discount off future car hire, priority service and exclusive partner offers.<br><br> And that's just the start. We're working on a host of other exclusive discounts, all coming soon. We'll let you know as soon as they're ready.</p>
      <a href="/underConstruction"><button class="button">JOIN NOW</button></a>
    </div>
    <div class="service-block">
        <div class="service-block-three-columns">
            <div class="service-block-three-columns-content">
                <img src="../images/icon-loyalty-heart.png">
                <h3>10% off future Avis car rentals*</h3>
                <p><br>Log in when you visit our site or app and this ongoing discount will be pre-applied.</p>
            </div>
            <div class="service-block-three-columns-content">
                <img src="../images/icon-loyalty-clock.png">
                <h3>Priority service every time</h3>
                <p><br>Jump the queue with pre-prepared paperwork and your vehicle at the ready.</p>
            </div>
            <div class="service-block-three-columns-content">
                <img src="../images/icon-loyalty-heart.png">
                <h3>Access to exclusive partner discounts</h3>
                <p><br>These vary from country to country; details will be emailed to you.</p>
            </div>
        </div>
        <p><br><br>*10% discount is off basic Time & Mileage, and doesn't include any additional mandatory costs (such as tax or airport surcharges) or additional extras. Discount is applicable for rentals in participating countries listed in the Car-Rent Preferred terms and conditions.</p>
    </div>
  </div>

  <div id="push"></div>
</div>



<div class="footer">
  <div class="footer-columns">
    <div class="footer-column-side">
      <img src="../images/logo.svg">
    </div>
    <div class="footer-column">
      <a href="#">Terms and conditions</a>
      <a href="#">FAQ</a>
      <a href="#">Rental points</a>
      <a href="#">Promotions</a>
      <a href="#">Cars</a>
    </div>
    <div class="footer-column">
      <a href="#">About us</a>
      <a href="#">Contact</a>
      <a href="#">Privacy policy</a>
    </div>
    <div class="footer-column">
      <a href="#">Book a car</a>
      <a href="#">Long term rental</a>
      <a href="#">Car-Rent inclusive</a>
      <a href="#">QuickPass</a>
      <a href="#">Offer for companies</a>
    </div>
    <div class="footer-column-side">
      <p>+47 486 27 952</p>
      <p>contact@car-rent.no</p>
      <p>Car-Rent AS, <br>
        Gaupåsvegen 257, 5265 Ytre Arna</p>
      <div class="social-icons">
        <img src="../images/icon-facebook.png">
        <img src="../images/icon-linkedin.png">
        <img src="../images/icon-instagram.png">
      </div>
    </div>
  </div>
  <h5>&copy; </h5><h5 id="currentYear"></h5> <h5>Car-Rent Company - All Rights Reserved.</h5>
</div>

<script src="../js/script.js"></script>
</body>
</html>