<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/styles.css">

  <title>Car Rental</title>
</head>
<body>

<div class="container">
  <div class="header">

    <div class="logo">
      <a href="/"><img src="../images/logo.svg"></a>
    </div>

    <nav class="nav">
      <a href="/">
        <button class="button">
          NEW BOOKING
        </button>
      </a>
      <div class="dropdown">
        <a href="/cars">CARS</a>
      </div>

      <div class="dropdown">
        <div class="dropdown-toggle">
          <a href="#">SERVICES</a>
          <img src="../images/arrow-down-2.png">
        </div>
            <ul class="dropdown-content">
                <li><a href="/longTermCarRental">Long-Term Rental</a></li>
                <li><a href="/loyaltyProgramme">Loyalty Programme</a></li>
                <li><a href="/quickPass">QuickPass</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
      </div>

      <div class="dropdown">
        <a href="/reservations">RESERVATIONS</a>
      </div>

      <div class="dropdown toggle">
        <a th:if="${not #authorization.expression('isAuthenticated()')}" href="/login">LOGIN<img src="../images/login-person.png" alt="login-person"></a>
        <a th:if="${#authorization.expression('isAuthenticated()')}" href="/logout">LOGOUT<img src="../images/login-person.png" alt="login-person"></a>
      </div>
    </nav>

    <button class="burger" id="burger-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="banner-low">
    <img src="../images/banner-quick-pass.png">
  </div>

  <div class="service-body">
    <div class="service-block">
      <h3>Save time at the counter, and travel safe with QuickPass</h3>
      <p><br>With QuickPass, you can share with us many of the details we need for your rental at a time that suits you. That way we can start preparing your rental agreement before you arrive for collection.</p>
      <button class="button">START NOW</button>
    </div>
    <div class="service-block-two-columns">
      <div>
        <img src="../images/quick-pass-laptop.png">
      </div>
      <div class="service-block-two-columns-content">
        <h3>QuickPass: How it works</h3>
        <ul><br>
            <li><p>You can register for QuickPass from the moment you've booked your car. You just need your driving licence and a payment card to hand.</p></li><br>
            <li><p>After booking, click the 'register for QuickPass' link on the confirmation page. Or use the link in the confirmation email.</p></li><br>
            <li><p>And tailor your rental with any extras you require.</p></li><br>
            <li><p>And that's it, you've registered your QuickPass.</p></li><br>
            <li><p>If you don't have that info, you can register for QuickPass right up until you pick up your rental vehicle.</p></li><br>
            <li><p>Provide your driving licence and payment details.</p></li><br>
            <li><p>Don't worry, we'll send you a few reminders by email should you forget.</p></li><br>
        </ul>
      </div>
    </div>
  </div>

  <div id="push"></div>
</div>



<div class="footer">
  <div class="footer-columns">
    <div class="footer-column-side">
      <img src="../images/logo.svg">
    </div>
    <div class="footer-column">
      <a href="#">Terms and conditions</a>
      <a href="#">FAQ</a>
      <a href="#">Rental points</a>
      <a href="#">Promotions</a>
      <a href="#">Cars</a>
    </div>
    <div class="footer-column">
      <a href="#">About us</a>
      <a href="#">Contact</a>
      <a href="#">Privacy policy</a>
    </div>
    <div class="footer-column">
      <a href="#">Book a car</a>
      <a href="#">Long term rental</a>
      <a href="#">Car-Rent inclusive</a>
      <a href="#">QuickPass</a>
      <a href="#">Offer for companies</a>
    </div>
    <div class="footer-column-side">
      <p>+47 486 27 952</p>
      <p>contact@car-rent.no</p>
      <p>Car-Rent AS, <br>
        Gaupåsvegen 257, 5265 Ytre Arna</p>
      <div class="social-icons">
        <img src="../images/icon-facebook.png">
        <img src="../images/icon-linkedin.png">
        <img src="../images/icon-instagram.png">
      </div>
    </div>
  </div>
  <h5>&copy; </h5><h5 id="currentYear"></h5> <h5>Car-Rent Company - All Rights Reserved.</h5>
</div>

<script src="../js/script.js"></script>
</body>
</html>