<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/styles.css">

  <title>Car Rental</title>
</head>
<body>

<div class="container">
  <div class="header">

    <div class="logo">
      <a href="/"><img src="../images/logo.svg"></a>
    </div>

    <nav class="nav">
      <a href="/">
        <button class="button">
          NEW BOOKING
        </button>
      </a>
      <div class="dropdown toggle" onclick="toggleDropdown(this)">
        <a href="/cars">CARS</a>
        <ul class="dropdown-content">
          <li><a sec:authorize="hasRole('ROLE_EMPLOYEE')" href="/cars">Display car list</a></li>
          <li><a sec:authorize="hasRole('ROLE_EMPLOYEE')" href="/createCar">Add vehicle</a></li>
          <li><a sec:authorize="hasRole('ROLE_EMPLOYEE')" href="#">Find a car</a></li>
        </ul>
      </div>

      <div class="dropdown toggle" onclick="toggleDropdown(this)" sec:authorize="hasAnyRole('ROLE_CUSTOMER', 'ROLE_EMPLOYEE', 'ROLE_ADMIN')">
        <a href="/reservations">RESERVATIONS</a>
        <ul class="dropdown-content">
          <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="/reservations">Display reservations</a></li>
          <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="/">New reservation</a></li>
          <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="#">Rent a Car</a></li>
          <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a href="#">Return Car</a></li>
        </ul>
      </div>

      <div class="dropdown toggle" onclick="toggleDropdown(this)">
        <a th:if="${not #authorization.expression('isAuthenticated()')}" href="/login">LOGIN<img src="../images/login-person.png" alt="login-person"></a>
        <a th:if="${#authorization.expression('isAuthenticated()')}" href="/logout">LOGOUT<img src="../images/login-person.png" alt="login-person"></a>
      </div>
    </nav>

    <button class="burger" id="burger-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

  </div>


  <div class="message message-warning" th:if="${reservationDeletedMessage}">
    <h1 th:text="${reservationDeletedMessage}">Reservation deleted successfully</h1>
  </div>


  <div class="message message-info" th:unless="${not #lists.isEmpty(reservations)}">
    <h1>You don't have any reservations.</h1>
  </div>


    <div class="your-booking" th:each="reservation : ${reservations}">
      <div class="your-booking-place-and-time-description">

        <h2>YOUR BOOKING</h2>
        <div class="your-booking-locations">
          <div>
            <h4>PICK-UP LOCATION</h4>
            <h5 th:text="${reservation.pickUpBranch.address.getCity()}" />
          </div>
          <div>
            <h4>PICK-UP DATE</h4>
            <h5 th:text="${reservation.pickUpDateTime}" />
          </div>
          <div>
            <h4>DROP-OFF LOCATION</h4>
            <h5 th:text="${reservation.getDropOffBranch.address.city}" />
          </div>
          <div>
            <h4>DROP-OFF DATE</h4>
            <h5 th:text="${reservation.dropOffDateTime}" />
          </div>
        </div>
      </div>
      <div class="your-booking-car-description">
        <h2>Vehicle</h2>
        <img th:src="${'..' + reservation.car.imagePath}" th:alt="${reservation.car.brand + ' ' + reservation.car.model}">
        <p th:text="${reservation.car.size.carClassShortDescription}" />
        <p th:text="${reservation.car.size.maxNumberOfPersons} + ' seats, ' + ${reservation.car.size.numberOfDoors} + ' doors, ' + ${reservation.car.transmissionType}" />
      </div>
      <div class="your-booking-price-confirmation">
        <h2 th:text="${'Total: $' + reservation.totalPrice}" />
        <form th:action="@{/deleteReservation}" method="post"
              onsubmit="return confirm('Are you sure you want to delete this reservation?')">
          <input type="hidden" name="reservationId" th:value="${reservation.id}">
          <button class="button button-delete-your-booking" type="submit">DELETE YOUR BOOKING</button>
        </form>
      </div>
      <div></div>
    </div>


  <div id="push"></div>
</div>



<div class="footer">
  <div class="footer-columns">
    <div class="footer-column-side">
      <img src="../images/logo.svg">
    </div>
    <div class="footer-column">
      <a href="#">Terms and conditions</a>
      <a href="#">FAQ</a>
      <a href="#">Rental points</a>
      <a href="#">Promotions</a>
      <a href="#">Cars</a>
    </div>
    <div class="footer-column">
      <a href="#">About us</a>
      <a href="#">Contact</a>
      <a href="#">Privacy policy</a>
    </div>
    <div class="footer-column">
      <a href="#">Book a car</a>
      <a href="#">Long term rental</a>
      <a href="#">Car-Rent inclusive</a>
      <a href="#">QuickPass</a>
      <a href="#">Offer for companies</a>
    </div>
    <div class="footer-column-side">
      <p>+47 486 27 952</p>
      <p>contact@car-rent.no</p>
      <p>Car-Rent AS, <br>
        Gaupåsvegen 257, 5265 Ytre Arna</p>
      <div class="social-icons">
        <img src="../images/icon-facebook.png">
        <img src="../images/icon-linkedin.png">
        <img src="../images/icon-instagram.png">
      </div>
    </div>
  </div>
  <h5>&copy; 2023 Car-Rent Company - All Rights Reserved.</h5>
</div>
<script src="../js/script.js"></script>  
</body>
</html>